# Ignore Jekyll build output
_site/
.jekyll-cache/
.sass-cache/
.bundle/
vendor/

# Ignore dependencies
node_modules/

# Ignore Python related
.venv/

# macOS junk files
.DS_Store
assets/.DS_Store
assets/img/.DS_Store
assets/.DS_Store
